<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Test Javascript</title>
</head>
<body>
    <h2>TESTTTT</h2>
<script>
// 函數宣告
    function fn(){
        x=100
        return console.log(x)
    }
<!--    fn ()-->

// 函數運算式
    var fnExpr = function(){
        x=1000
        return console.log(x)
    }
<!--    fnExpr()-->


</script>
</body>
</html>